@using Newtonsoft.Json
@using SurveyGenerator.Models
@model List<Question>
@{
    ViewBag.Title = "Survey";
    var respondentId = ViewBag.RespondentId;
}

<h2>@ViewBag.SurveyName</h2>

<div ng-app="myApp" ng-controller="customersCtrl">

    <table class="table-bordered">
        <tr ng-repeat="x in questions">
            <td>{{ $index + 1 }}</td>
            <td><label>{{ x.Text}}</label></td>
            <td ng-switch="x.QuestionType">
                <div ng-switch-when="0" ng-repeat="answer in x.Answers">
                    <div class="checkbox">
                        <label><input type="checkbox" class="checkbox-answer" questionId={{x.Id}} answerId={{answer.Id}} checked/>{{answer.Text}}</label>
                    </div>
                </div>
                <div ng-switch-when="1" ng-repeat="answer in x.Answers">
                    <div class="radio">
                        <label><input type="radio" class="radio-answer" name={{x.Id}} questionId={{x.Id}} answerId={{answer.Id}} checked/>{{answer.Text}}</label>
                    </div>
                </div>
                <div ng-switch-when="2">
                    <input type="text"/>
                </div>
            </td>
        </tr>
    </table>

</div>

<br />

<div id="pagination"></div>

<script>
    @*var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("/Survey/GetQuestionList/")
            .then(function(response) {
                $scope.questions = response.questions;
            });
        //$scope.questions = ;
        @*[{ Id: @Model.First().Id, Text: '@Model.First().Text'},
                                { Id: 1, Text: "text" },
                                { Id: 2, Text: "new texzst"}];
            $scope.init = function (questions) {
                $scope.employees= questions;
            }
        });*@

</script>

<script type="text/javascript">
    $(function() {
        $("#pagination").pagination({
            pages: 3,
            currentPage: @ViewBag.pageNumber,
            cssStyle: 'light-theme',
            hrefTextPrefix: '/Survey/Index/@ViewBag.userId/@ViewBag.surveyId/',
            onPageClick: function() {
                collectData();
            }
        });
    });
</script>


@*<table>
        @foreach (var question in Model.ToList())
        {
            var response = question.Responses.FirstOrDefault(c => c.Respondent.Id == ViewBag.RespondentId);

            if (question.QuestionType.ToString() == "Text")
            {
                <tr>
                    <td>@Html.Label(question.Text)</td>
                    <td>@Html.TextBox("textbox", response.TextValue ?? null, new { @class = "text-answer", questionId = question.Id.ToString() })</td>
                </tr>
            }
            else if (question.QuestionType.ToString() == "Checkbox")
            {
                <tr>
                    <td>@Html.Label(question.Text)</td>
                    <td>
                        @foreach (var answer in question.Answers)
                        {
                            var respAnswer = response.Answers?.FirstOrDefault(c => c.Id == answer.Id);
                            if (respAnswer != null)
                            {
                                <div class="checkbox">
                                    <label><input type="checkbox" class="checkbox-answer" questionId=@question.Id answerId=@answer.Id checked />@answer.Text</label>
                                </div>
                            }
                            else
                            {
                                <div class="checkbox">
                                    <label><input type="checkbox" class="checkbox-answer" questionId=@question.Id answerId=@answer.Id />@answer.Text</label>
                                </div>
                            }
                        }
                    </td>
                </tr>
            }
            else if (question.QuestionType.ToString() == "Radio")
            {
                <tr>
                    <td>@Html.Label(question.Text)</td>
                    <td>
                        @foreach (var answer in question.Answers)
                        {
                            var respAnswer = response.Answers?.FirstOrDefault();
                            if (respAnswer != null && respAnswer.Id == answer.Id)
                            {
                                <div class="radio">
                                    <label><input type="radio" class="radio-answer" name=@question.Id questionId=@question.Id answerId=@answer.Id checked />@answer.Text</label>
                                </div>
                            }
                            else
                            {
                                <div class="radio">
                                    <label><input type="radio" class="radio-answer" name=@question.Id questionId=@question.Id answerId=@answer.Id />@answer.Text</label>
                                </div>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </table>*@