@using SurveyGenerator.Helpers
@{
    ViewBag.Title = "Home Page";
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/main.js"></script>
}

<div class="jumbotron">
    <div class="col-md-offset-4">
        <h1>Survey Generator</h1>
    </div>
    <br />

    @using (Ajax.BeginForm("SendEmail", "Home", new AjaxOptions { HttpMethod = "Post" }, new { @class = "js-sendEmail" }))
    {
        <div class="box-input clearfix">
            <input class="fromName" name="FromName" placeholder="Your name" type="text" />
            <input class="fromEmail" name="FromEmail" placeholder="Your Email" type="text" />
        </div>
        <textarea class="messageToSend" name="messageToSend" placeholder="Message"></textarea>
        @Html.ReCaptcha()
        <button>SUBMIT</button>
    }

    <h2>Pick one of surveys:</h2>
    <ul>
        <li>@Html.ActionLink("First Survey", "Index", "Survey", routeValues: new { SurveyId = 1, userId = 1 }, htmlAttributes: null)</li>
        <li>@Html.ActionLink("Second Survey", "Index", "Survey", routeValues: new { SurveyId = 2, userId = 2 }, htmlAttributes: null)</li>
        <li>@Html.ActionLink("Third Survey", "Index", "Survey", routeValues: new { SurveyId = 3, userId = 3 }, htmlAttributes: null)</li>
    </ul>
</div>


<script type="text/javascript">

        window.routeController = {
            urlToSendEmail: '@Url.Action("SendEmail", "Home")'
        }

</script>